* {
  color: #41444b;
  box-sizing: border-box;
}

.wrapper {
  background: #f4f7c5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

/* Kermit section styling */

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 20px 30px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.frogimage {
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.previous,
.next,
.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 6px;
  background: #c7dca7;
  width: 80px;
}

.previous:hover,
.next:hover,
.button:hover {
  background: #d5e5b2;
}

.desc {
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
