.wrapper {
  padding: 6px;
  border: 4px solid #f0b478;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbc687;
  font-family: "Roboto", sans-serif;
}

.links {
  display: flex;
  gap: 50px;
}

.activeLink,
.inactiveLink {
  padding: 2px;
  list-style: none;
  text-decoration: none;
}

.activeLink {
  color: #000;
}

.inactiveLink {
  color: #666;
}

/* Styling for nav hover animation */

.activeLink,
.inactiveLink {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
}

.activeLink::after,
.inactiveLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: currentColor;
  transition: width 0.4s ease-out;
}

.activeLink:hover::after,
.inactiveLink:hover::after {
  width: 100%;
}
